<div class="row">
  <div class="col-12 text-center">
    <form
      #forgotPasswordForm="ngForm"
      (ngSubmit)="onSendPasswordResetLink(forgotPasswordForm)"
      class="form-forgot-password mt-5"
    >
      <h1 class="h3 mb-3 font-weight-normal">Send password reset link</h1>

      <div *ngIf="successNotification" class="alert alert-info mt-3">
        {{ successNotification }}
      </div>

      <p
        *ngIf="emailField.invalid && emailField.touched"
        class="error-message"
      > Please type a valid email. </p>
      <label
        for="inputEmail"
        class="sr-only"
      >Your email address</label>
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        #emailField="ngModel"
        email
        id="inputEmail"
        class="form-control"
        placeholder="Email address"
        required
        autofocus
      >

      <button
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        [disabled]="forgotPasswordForm.invalid"
      >Send reset link
      </button>


      <div *ngIf="serverError && forgotPasswordForm.submitted" class="alert alert-danger mt-3">
        {{ serverError }}
      </div>

      <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
    </form>
  </div>
</div>

